:root {
  --title-text-color: #ffffff;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --btn-accent-color: #188ce8;
  --logo-color: #000000;
  --main-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --link-color: #212121;
  --team-background-color: #f5f4fa;
  --button-background-color: #eeeeee;
  --header-shadow-line: #ececec;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Raleway", "sans-serif";
  background-color: var(--main-background-color);
  font-size: 14px;
  letter-spacing: 0.03;
  color: var(--primary-text-color);
}

li {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/*Logo*/
.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  text-decoration: none;
}

.logo span {
  color: var(--accent-color);
}

/*Navigation*/
.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-shadow-line);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav li {
  margin-right: 50px;
}

.site-nav .link:last-child {
  margin-right: 0;
}

.link a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--link-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

.link:hover a {
  color: var(--accent-color);
}

.address-nav {
  display: flex;
  margin-left: auto;
}

.address-nav .item + .item {
  margin-left: 50px;
}

.address a {
  font-style: normal;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.address:hover a {
  color: var(--accent-color);
}

/*Header*/
.hero {
  background-color: var(--hero-background-color);
  width: 1230px;
}

.hero-title.centered,
.pictures-title.centered,
.team-title.centered,
.btn.centered {
  text-align: center;
}

.hero-title {
  padding-top: 200px;
  padding-right: 310px;
  padding-left: 310px;

  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  background-color: var(--accent-color);
  color: var(--title-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  margin-left: 495px;
  margin-right: 495px;
  margin-top: 5px;
  margin-bottom: 200px;
}

.button:hover,
.button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn,
.button {
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: var(--accent-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Advantages*/
.feature-list {
  display: flex;
  margin-top: 94px;
  padding-bottom: 94px;
}

.main-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color);
}

.main-list-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-right: 30px;
}

/* Pictures */
.pictures {
  display: flex;
  justify-content: center;
}

.pictures-title {
  color: var(--link-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 2.6;
  letter-spacing: 0.03em;
}

.img-1,
.img-2,
.img-3 {
  margin-right: 30px;
}

/*Team*/
.team {
  background-color: var(--team-background-color);
  margin-top: 94px;
  padding-bottom: 94px;
}

.team-members {
  display: flex;
  margin-right: 30px;
  text-align: center;
  justify-content: space-between;
}

.team-card-1,
.team-card-2,
.team-card-3,
.team-card-4 {
  margin-right: 30px;
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member,
.team-member-description {
  justify-content: space-between;
}

.team-title {
  color: var(--link-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 2.6;
  letter-spacing: 0.03em;
}

.team-member {
  color: var(--link-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 20px;
}

.team-member-description {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

/*Footer*/
.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}

/* .footer-nav {
  display: block;
  text-align: left;
} */

.footer-logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
  text-decoration: none;
}

.footer-logo span {
  color: var(--accent-color);
}

.address-map a {
  color: var(--title-text-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-map:hover a {
  color: var(--accent-color);
}

.footer-address {
  margin-top: 9px;
}

/*Buttons*/
.button {
  background-color: var(--team-background-color);
  color: var(--logo-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  margin-right: 8px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}

.project-card-1,
.project-card-2,
.project-card-3,
.project-card-4,
.project-card-5,
.project-card-6,
.project-card-7,
.project-card-8,
.project-card-9 {
  border: 1px solid var(--button-background-color);
  width: 370px;
  margin: 8px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.2;
  letter-spacing: 0.06em;
  color: var(--link-color);
}

.project-description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
}

.project-title,
.project-description {
  padding-left: 24px;
}